<p>
    <strong>Author:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Author Detail:</strong>
    <%= author.body %>
  </p>

  <p>
    <strong>Author date:</strong>
    <%= author.date %>
  </p>

  <p>
  <%= link_to "Destroy author", [@category, author], method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
</p
